@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  background: linear-gradient(to bottom, #6b7280, #000000);
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

:root::-webkit-scrollbar {
  display: none;
}

.border-diagnostic {
  border-color: #09ff00;
  border-width: 5px;
  border-style: solid;
  border-radius: 4px;
}
