@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  background-color: #6b7280;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
  overflow: hidden;
}

:root::-webkit-scrollbar {
  display: none;
}
